 $primary: #0052CC;
 $success: #5AAC44;

 $primary-1: #0079bf;
 $primary-2: #026aa7;



 $input-bg: #FAFBFC;
 $input-border-color: #DFE1E6;
 $input-font-size: 14px;
 $input-focus-bg: #fff;
 $input-focus-border-color: $primary;
 $input-focus-box-shadow: none;
 $input-border-radius: 3px;
 $input-border-width: 2px;
 $input-padding-x: 7px;
 $input-padding-y: 7px;
 $input-height: 44px;
 $input-font-size: 14px;

 $dropdown-padding-x: 12px; 
 $dropdown-padding-y: 12px; 
 $dropdown-box-shadow: 0 0 7px -1px #0000004d;
 $dropdown-bg: #ffffff;
 $dropdown-border-radius: 3px;
 $dropdown-font-size: 14px;
 $dropdown-header-color: #5e6c84;
 $dropdown-color: #5e6c84;
 $dropdown-divider-bg: #5e6c84;
 $dropdown-min-width: 304px;
 $dropdown-divider-margin-y: 8px;
 $dropdown-border-width:0;
 $dropdown-link-color: #172b4d;
 $dropdown-link-active-color: #172b4d;
 $dropdown-link-hover-bg: #04060a14;
 $dropdown-link-active-bg: #091e4221 ;
 $dropdown-header-padding: 0;  
 
 

$list-group-color:                  #172b4d;
$list-group-bg:                     transparent;
$list-group-border-color:           transparent;
$list-group-border-width:           0;
$list-group-border-radius:          0;

$list-group-item-padding-y:         6px;
$list-group-item-padding-x:         12px;
// $list-group-item-bg-scale:          -80% !default;
// $list-group-item-color-scale:       40% !default;

$list-group-hover-bg:               #091e4214;
$list-group-active-color:           #172b4d;
$list-group-active-bg:              #e4f0f6;
$list-group-active-border-color:    none;

// $list-group-disabled-color:         $gray-600 !default;
// $list-group-disabled-bg:            $list-group-bg !default;

$list-group-action-color:           #172b4d;
$list-group-action-hover-color:     #172b4d;

$list-group-action-active-color:    #172b4d;
$list-group-action-active-bg:       #E4F0F6;


// modal

$modal-md:                          768px !default;


  @import "../../../node_modules/bootstrap/scss/bootstrap.scss";



  @mixin caret-down {
  border-top: 0;
  border-right: $caret-width solid transparent;
  border-bottom: 0;
  border-left: $caret-width solid transparent;
}