 $primary: #0052CC;
 $success: #5AAC44;


 $input-bg: #FAFBFC;
 $input-border-color: #DFE1E6;
 $input-font-size: 14px;
 $input-focus-bg: #fff;
 $input-focus-border-color: $primary;
 $input-focus-box-shadow: none;
 $input-border-radius: 3px;
 $input-border-width: 2px;
 $input-padding-x: 7px;
 $input-padding-y: 7px;
 $input-height: 44px;